.a{
    will-change: transform;
    /* will-change属性可以提前通知浏览器我们要对元素做什么动画，这样浏览器可以提前准备合适的优化设置。
    这样可以避免对页面响应速度有重要影响的昂贵成本。元素可以更快的被改变，渲染的也更快，这样页面可以快速更新，表现的更加流畅。

    举个例子，当对于素使用 CSS 3D变形时，元素及其内容可以在合成到页面之前被创建到我们之前说的layer。然而把元素放到layer中是个昂贵的操作，这将会导致变形动画延迟一个课件的瞬间，也就是flicker

    为了避免这种延时，我们可以在发生之前通知浏览器，这样浏览器会有一定的时间去准备这些变化，当发生的时候layer已经准备好了，这样动画酒会很流畅，不会闪屏 */
}

.div{
	clip-path:polygon(100px 200px,100px 300px,200px 300px,200px 200px);
	/* 四个点 画成一个图形 配合transition 实现各种形变*/
}



/* <input type="number" min="5" max="10"> */
input:in-range{
	 border: 5px solid green;
}


/*整个body可拖动  body设置拖动后内部元素不能相对body绝对定位 否则拖动无效*/
body{
	-webkit-app-region: drag;
}
/*解放按钮btn*/
.btn{
	-webkit-app-region: no-drag;
}


/*旋转后不显示背面*/
{
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
